header {
    background: #551A8B;
    padding: 0 10px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    float: right;
    float: 10px;
}

nav a:link, nav a:visited {
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
    font-weight: bold;
    padding: 10px;
}

nav a:hover {
    color: #551A8B;
    background: #FFF;
    transition: all .25s ease-in-out;
}

nav li {
    display:inline-block;
    border-radius: 25px;
}

footer {
    background: #551A8B;
    color: #FFF;
}

.clear {
    clear: both;
}

html, body {
    height: 100%;
}
    
div.container {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
}

div.words {
    color: #551A8B;
    margin: 0 20px;
    flex: 1;
}

#Special {
    
}
