* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

.Overall-Content {
    flex: 1;
    padding: 20px;
}

h1, h2, h3 {
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 20px 0;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    line-height: 1.7em;
    color: #694489;
    flex: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer {
    background: #551A8B;
    padding: 1em;
    text-align: center;
}
